<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="e.utilisateur.easylife01">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Welscr">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Logscr"
            android:label="@string/titleLog"
            android:parentActivityName=".Welscr">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Welscr"/>
        </activity>

        <activity
            android:name=".CrtAccscr"
            android:label="@string/titleCrt"
            android:parentActivityName=".Logscr">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Logscr"/>
        </activity>

        <activity
            android:name=".Selcatscr"
            android:label="@string/titleSel"
            android:parentActivityName=".Logscr">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Logscr"/>
        </activity>
        
        <activity
            android:name=".Periscr"
            android:label="Perimeter chooser"
            android:parentActivityName=".Selcatscr">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Selcatscr"/>
        </activity>

        <activity
            android:name=".Roomscr"
            android:label="University place"
            android:parentActivityName=".Selcatscr">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Selcatscr"/>
        </activity>

        <activity
            android:name=".Favscr"
            android:label="Favourites"
            android:parentActivityName=".Selcatscr">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Selcatscr" />
        </activity>

        <activity
            android:name=".Everythingscr"
            android:label="Every places"
            android:parentActivityName=".Selcatscr">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Selcatscr"/>
        </activity>

        <activity android:name=".Feedbackscr"
            android:label="Feedback"
            android:parentActivityName=".Selcatscr">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Selcatscr"/>
        </activity>

        <activity android:name=".Detailsscr"
            android:label="Details"
            android:parentActivityName=".Everythingscr">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Everythingscr"/>
        </activity>

        <activity android:name=".AddPlacescr"
            android:label="Request"
            android:parentActivityName=".Selcatscr">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Selcatscr"/>
        </activity>

        <activity
            android:name=".Typefood"
            android:label="Type of Food"
            android:parentActivityName=".Selcatscr">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Selcatscr" />
        </activity>
    </application>
</manifest>